mixin popup_button(action, icon, btnclass='default')
    button.btn(class=`btn-${btnclass}`, data-action=`${action}`, type='button')
        img.icon(src=`${icon}`)

mixin options_checkbox_section(id, msg, attrs={})
    label(for=`${id}`, data-msg=`${msg}`)
    .material-switch.pull-right
        input.form-control(id=`${id}`, type='checkbox')&attributes(attrs)
        label.label-success(for=`${id}`)

mixin options_number_section(id, msg, attrs={})
    .row
        .col-xs-8.col-md-9.col-lg-10
            label(for=`${id}`, data-msg=`${msg}`)
        .col-xs-4.col-md-3.col-lg-2.pull-right
            input.form-control(id=`${id}`, type='number')&attributes(attrs)

mixin options_text_section(id, msg, attrs={})
    .row
        .col-xs-8.col-md-9.col-lg-10
            label(for=`${id}`, data-msg=`${msg}`)
        .col-xs-4.col-md-3.col-lg-2.pull-right
            input.form-control(id=`${id}`, type='text')&attributes(attrs)

mixin options_textarea_section(id, msg, attrs={})
    .row
        .col-xs-12.col-md-12.col-lg-12
            label(for=`${id}`, data-msg=`${msg}`)
    .row
        .col-xs-12.col-md-12.col-lg-12
            textarea.form-control(id=`${id}`, placeholder=`${msg}`)&attributes(attrs)

mixin options_select_section(id, msg, options=[])
    .row
        .col-xs-8.col-md-9.col-lg-9
            label(for=`${id}`, data-msg=`${msg}`)
        .col-xs-4.col-md-3.col-lg-3.pull-right
            select.form-control(id=`${id}`)
                - if (block) {
                    block
                - }
                - else if (options && options.length > 0) {
                    each option in options
                        option(value=`${option.value}`)= option.text
                - }

mixin options_color_section(id, msg, value='')
    .row
        .col-xs-8.col-md-9.col-lg-10
            label(for=`${id}`, data-msg=`${msg}`)
        .col-xs-4.col-md-3.col-lg-2.pull-right
            input.form-control(id=`${id}`, value=`${value}`, type='color')
